<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%JFlow.description"
            id="edu.illinois.jflow.core.transformations.TransformationSet"
            label="%JFlow.label"
            visible="true">
         <menu
               label="%JFlow.menu.label"
               id="edu.illinois.jflow.core.transformations.Menu"
               path="additions">
	           <separator name="parallelizeGroup"/>
         </menu>
         <!-- According to http://help.eclipse.org/helios/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_ui_actionSets.html -->
         <!-- The order of the actions are in the *reverse* of the order listed here (!) -->
          <action
               label="%InvertLoop.label"
               class="edu.illinois.jflow.core.transformations.ui.actions.InvertLoopTopLevelAction"
               tooltip="%InvertLoop.tooltip"
               menubarPath="edu.illinois.jflow.core.transformations.Menu/parallelizeGroup"
               id="edu.illinois.jflow.core.transformations.ui.actions.InvertLoopTopLevelAction">
         </action>
         <action
               label="%ExtractClosure.label"
               class="edu.illinois.jflow.core.transformations.ui.actions.ExtractClosureTopLevelAction"
               tooltip="%ExtractClosure.tooltip"
               menubarPath="edu.illinois.jflow.core.transformations.Menu/parallelizeGroup"
               id="edu.illinois.jflow.core.transformations.ui.actions.ExtractClosureTopLevelAction">
         </action>

      </actionSet>
   </extension>

</plugin>
