<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.illinois.jflow.wala.ui.tools.category"
            name="WALA Tools">
      </category>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.callgraph.CallGraphView"
            id="edu.illinois.jflow.wala.ui.tools.callgraph.CallGraphView"
            name="WALA Call Graph"
            restorable="true">
      </view>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.pdg.PDGView"
            id="edu.illinois.jflow.wala.ui.tools.pdg"
            name="WALA Program Dependence Graph"
            restorable="true">
      </view>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.ir.IRView"
            id="edu.illinois.jflow.wala.ui.tools.ir.irview"
            name="WALA IR"
            restorable="true">
      </view>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.ui.tools.pdg.PDGView"
            id="edu.illinois.jflow.ui.tools.pdg.pdgview"
            name="PDG"
            restorable="true">
      </view>
   </extension>

</plugin>
