<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.illinois.jflow.wala.ui.tools.category"
            name="WALA Tools">
      </category>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.callgraph.CallGraphView"
            id="edu.illinois.jflow.wala.ui.tools.callgraph.CallGraphView"
            name="WALA Call Graph"
            restorable="true">
      </view>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.pdg.PDGView"
            id="edu.illinois.jflow.wala.ui.tools.pdg"
            name="WALA Program Dependence Graph"
            restorable="true">
      </view>
      <view
            category="edu.illinois.jflow.wala.ui.tools.category"
            class="edu.illinois.jflow.wala.ui.tools.ir.IRView"
            id="edu.illinois.jflow.wala.ui.tools.ir.irview"
            name="WALA IR"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.illinois.jflow.wala.ui.tools.wala"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               id="edu.illinois.jflow.wala.ui.tools.wala.popupMenu"
               label="Wala"
               path="additions">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="edu.illinois.jflow.wala.jdt.AnalysisAction"
               enablesFor="+"
               id="edu.illinois.jflow.wala.ui.tools.analyze"
               label="Analyze!"
               menubarPath="edu.illinois.jflow.wala.ui.tools.wala.popupMenu/slot1">
         </action>
      </objectContribution>
   </extension>

</plugin>
